<div class="row">
  <div class="overlay col-md-8 col-md-offset-2">
    <h2>Hi, <%= @display_username %>!<br/>Let's help find the right dental program for you.</h2>

    <%= render 'form' %>

    <a name="all-schools"></a>
    <h2><%= pluralize(@programs.size, 'Dental School') %></h2>

    <%= render 'show_programs' %>

  </div>
</div>
