<div class="container" style="max-width: 90vw;">

  <h1>Search result: <%= pluralize(@programs.size, 'Dental School') %></h1>

  <% @programs.each do |p| %>
    <p><%= link_to( p.program , {:controller => 'programs', :action => 'information', :id => p.id} ) %></p>
  <% end %>
</div>
