/////////// colors and fonts ////////
$font: Roboto, arial, Helvetica, sans-serif;
$font-light: 300;
$font-reg: 400;
$font-bold: 500;
$icon-font: FontAwesome;

$primary-type: #000;
$inverse-type: #ffffff;

$primary-bg-color: #ffffff;
$lighter-bg-color: #f0f9ff;

$primary-color: #219ab4;
$secondary-color: #005d83;
$accent-color: #f59c36;

$sign-in-bg: '/assets/hermanostrow.jpg';

