/////////// colors and fonts ////////
$font: Roboto, arial, Helvetica, sans-serif;
$font-light: 300;
$font-reg: 400;
$primary-type-color: #000;
$primary-color: #219ab4;
$primary-bg-color: #ffffff;

$secondary-color: #005d83;

$accent-color: #f59c36;
$inverse-type: #ffffff;
$lighter-bg-color: #dedede;
$sign-in-bg: url('/assets/dental-web3.jpg');

