/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'theme';


h3:not(:first-child) {
	margin-top: 1.5em;
}

body {
  min-height: 100vh;
  padding-top: 70px;
}

nav {
  height: 120px;
}
.navbar {
	border-radius: 0;
}
.pull-right {
  z-index: 5 !important;
}
.navbar-nav {
  position: relative;
  top: -30px;
  right: 35px;
}
.logo {
  margin-left: 20px;
  position: relative;
  top: 20px;
}
.logo-img {
  width: 100px;
}
.logo-text {
  position: absolute;
  left: 0px;
  top:40px;
}

.container {
  background: none;
  margin: 0 auto;
  padding-top: 70px;
}
.white-bg {
  background: $primary-bg-color;
}
.main-img {
  height: 30px;
  width: 100%;
}
.main-img > img {
  object-fit: cover;
  height: 420px;
  width: 100vw;  
}
.form-control {
  border:1px solid $primary-color;
}
.input {
	width: 100%;
}

.input-group {
	display: block;
	margin-top: 40px;
}

.checkbox-label  {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-weight: normal;
}
.checkbox-label:before, .checkbox-label:after {
	font-family: FontAwesome;
	font-size: 30px;
	/*absolutely positioned*/
	position: absolute; top: -10px; left: 0;
}
.checkbox-label:before {
	content: '\f096'; /*unchecked*/
}
.checkbox-label:after {
	content: '\f046'; /*checked*/
	/*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
	max-width: 0;
	overflow: hidden;
	opacity: 0.5;
	/*CSS3 transitions for animated effect*/
	transition: all 0.35s;
}

/*hiding the original checkboxes*/
.checkbox-input[type="checkbox"] {
	display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
.checkbox-input[type="checkbox"]:checked + label:after {
	max-width: 35px; /*an arbitratry number more than the icon's width*/
	opacity: 1; /*for fade in effect*/
}


// ************** sign in page ***************************
#sign-in-block {
    margin-top:70px;
    padding: 15px 45px 45px;
  }

// ******************* FILTERS STYLES HERE ****************

.filter-option {
  min-height: 40px;
  margin: 5px 0 5px 0;
  padding: 10px;
}
.filter-option label {
  width: 100%;
}
.btn-filter {
	margin: 1px 0 1px 0;
}

@media screen and (min-width: 768px) {
  #btn-search-filters, .btn-search-page > span {
    display: none;
  }
  
}

// animation on arrow

.btn-filter > span {
  transition: transform .5s;
}

.arrowdown {
  transform: rotate(0deg);
}
.arrowup {
  transform: rotate(180deg);
}
// **************** CARD STYLES **********************


// ****************** RESPONSIVE TABLES **************

table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  border: 1px solid #000;
}
tr:nth-of-type(odd) {
  background: #eee;
}

table th,
table td {
  padding: 5px;
  text-align: center;
}
.secondary-subject {
	background-color: #666;
	color: #fff;
	text-align: left;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .subject {
		text-transform: uppercase;
  }
  .subject-solo {
  	background-color: #666;
  	color: #fff;
  	text-align: left;
  }
  table tr {
    // border-bottom: 3px solid #333;
    display: block;
    margin-bottom: 15px;
  }
  table td {
    border-top: 1px solid #333;
    display: block;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: left;
  }
  table td.subject-solo:before {
    content: "";
  }
  table td:last-child {
    border-bottom: 0;
  }
}

//////////// DESKTOP /////////
@media screen and (min-width: 768px) {
  nav {
    height: 70px;
  }
  .navbar-nav {
    top:0px;
  }
  .logo-text {
    position: inherit;
    top: 0px;
    left: 0px;
  }
  
  .information-page > .collapse
    {
        display: block;
    }
}

